[submodule "api"]
	path = api
	url = https://github.com/shiruka/api.git
[submodule "src/main/c/zlib"]
	path = src/main/c/zlib
	url = https://github.com/Dead2/zlib-ng
[submodule "src/main/c/mbedtls"]
	path = src/main/c/mbedtls
	url = https://github.com/ARMmbed/mbedtls
