name: publish

on:
  pull_request:
    types: [ closed ]

jobs:
  publish:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-java@v1
        with:
          java-version: 11

      - run: mvn clean install -ntp -B

      - uses: actions/upload-artifact@v2
        with:
          name: shiruka
          path: target/shiruka.jar
